PORT=5001
MONGO_URI=mongodb+srv://kiruthikkailash_db_user:HSGs1gLU93dqnY@kailash1.exgdvw1.mongodb.net/?appName=kailash1
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:5173
